
*{
    list-style-type: none;

}
body{
    margin: 0px;
    
    font-family: "Lalezar", serif;
  font-weight: 400;
  font-style: normal;
}
.ul-menu {

    background-color: #333;
    color: white;
    overflow: hidden;
    text-align: center;

}
.li-menu{
    float: right;

}
.a-menu{
    text-decoration: none;
    color: white;
    display: block;
    padding: 17px;

}
.li-menu a:hover{
    background-color: black;
}
.title-menu{
    display: inline;
    font-size: 30px;
}

.cloumn{
     width: 50%;
     float: left;
     text-align: center;
   
}
.profile{
    width: 190px ;
    height: 250px;
    border-radius: 20px 20px 20px 20px;
   
}
.social{
    width:25px;
    padding:10px;


}
.left1{
    width: 20%;
    float: left;

}
.row{
    padding-bottom: 10px;
}



.right1{
    width: 70%;
    float: left;

}

.row:after {
    display: table;
    clear: both;
    content: "";
}

.main-bar{
    background-color: gray;
    display: block;
    height: 25px;
}
.main-bar span {
    display: block;
    background-color: aqua;
    height: 25px;
    color: white;

}
.JavaScript{

    width: 70%;
    animation: js 3s;
}

.Linux 
{
    width: 80%;
    animation: linux 3s;
}


@keyframes js {
    0%{

        width: 0%;
    }
    100% {
     width: 70%;
    }
}
@keyframes linux {
    0%{
           width:0%;
    }
    100%
    {
        width: 80%;

    }
}
.footer 
{
    background-color: #333;
    color: white;
    width: 100%;
    height: 40px;
    text-align: center;
  
}
.images img {
    width: 20px;
    height: 20px;
   
}
.images{
   display: flex;
   justify-content: center;
   gap: 20px;   
}
#projects {
    display: flex;
    justify-content: center; 
}


@media screen and (max-width:1000px) 
{
    .cloumn{
        width: 100%;
    }
}